@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root{
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: rgb(114, 128, 167);
    --dark-blue: hsl(223, 47%, 23%);
}
html{
    box-sizing: border-box;
    height: 100%;
}
*,
*::after,
*::before{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Red Hat Display', sans-serif;
    height: 100%;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
img{
    width: 100%;
}
/* Card Container */
.card{
    /* width: 100%; */
    padding: 25px;
    height: 100%;
    background-image: url(images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-color: var(--very-pale-blue);
    background-size: contain;
    
    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;

}
.card__container{
    background-color: #fff;
    max-width: 445px;
    border-radius: 20px;
    overflow: hidden;
}
.card__info{
    text-align: center;
    padding: 40px;
}

/* .car__img{
    border: 20px 20px 0 0;
} */
.card__heading{
    color: var(--dark-blue);
    font-weight: 900;
    font-size: 25px;
}
.card__text{
    color: var(--desaturated-blue);
    line-height: 25px;
    margin: 25px 0 20px 0;
}
.card__plan{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
    padding: 0 20px;
    border-radius: 10px;
    background-color: var(--very-pale-blue);
}
.card__text h4{
    color: var(--dark-blue);
    font-weight: 900;
}
.card__text p{
    color: var(--desaturated-blue);
}
.card__change{
    margin-left: auto;
    text-decoration: underline;
    color: var(--bright-blue);
    font-weight: 900;
}

.card__btn{
    width: 100%;
    margin: 25px 0;
    padding: 15px;
    border-radius: 10px;
    display: block;
    border:none;
    color: #fff;
    background-color: var(--bright-blue);
}

.cancel__btn{
    color: var(--desaturated-blue);
    font-weight: 900;
}
@media (max-width:996px){
    .card{
        background-image: url(images/pattern-background-mobile.svg);
    }
}