@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root{
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: rgb(114, 128, 167);
    --dark-blue: hsl(223, 47%, 23%);
}
html{
    box-sizing: border-box;
    height: 100%;
}
*,
*::after,
*::before{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Red Hat Display', sans-serif;
    height: 100vh;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
img{
    width: 100%;
}

@keyframes fadeIn{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* Card Container */
.card{
    /* width: 100%; */
    padding: 1.5625rem;
    min-height: 100%;
    /* height: 67rem; */
    background-image: url(../images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-color: var(--very-pale-blue);
    background-size: contain;
    
    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}
.card__container{
    background-color: #fff;
    max-width: 27.8125rem;
    border-radius: 1.25rem;
    overflow: hidden;
    box-shadow: 0rem .625rem 1.25rem -0.625rem rgba(48, 35, 192, 0.3), 0rem .625rem 1.25rem -0.3125rem rgba(48, 35, 192, 0.1);

    animation: fadeIn 2s ease-in;
}
.card__info{
    text-align: center;
    padding: 2.5rem;
}

.card__heading{
    color: var(--dark-blue);
    font-weight: 900;
    font-size: 1.5625rem;
}
.card__desc{
    color: var(--desaturated-blue);
    line-height: 2rem;
    margin: 1.5625rem 0 1.25rem 0;
    font-size: 1.2rem;
}
.card__plan{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: .9375rem;
    padding: .5rem 1.25rem;
    border-radius: .625rem;
    background-color: var(--very-pale-blue);
}
.card__text h4{
    color: var(--dark-blue);
    font-weight: 900;
}
.card__text p{
    color: var(--desaturated-blue);
}
.card__change{
    margin-left: auto;
    text-decoration: underline;
    color: var(--bright-blue);
    font-weight: 700;
    transition: text-decoration 2s linear 1s;
}
.card__change:hover{
    text-decoration: none;
}

.card__btn{
    width: 100%;
    margin: 1.5625rem 0;
    padding: 1rem;
    border-radius: .625rem;
    display: block;
    border:none;
    color: #fff;
    background-color: var(--bright-blue);
    cursor: pointer;
    box-shadow: 0rem .625rem 1.25rem 0rem rgba(56, 41, 224, 0.3);
}
.card__btn:hover {
    background-color: #6b4bff;
    transition: ease-in 0.3s;
}
.card__btn:active {
    transform: scale(0.99);
    box-shadow: 0rem .625rem 1.25rem 0rem #fff;
}

.cancel__btn{
    color: var(--desaturated-blue);
    font-weight: 700;
}
.cancel__btn:hover{
    color: #6b4bff;
}
@media (max-width: 62.25rem){

    .card{
        background-image: url(..assets/images/pattern-background-mobile.svg);
    }
}
@media only screen and (max-width: 991px) {
  
}
@media only screen and (max-width: 767px) {

}
@media only screen and (max-width: 478px) {

    .card__container{
        min-width: 30rem;
    }
    html {
        font-size: 70%;
      }
}
@media only screen and (min-width: 477px) {
    html {
        font-size: 80%;
      }
}
/* @media only screen and (max-width: 56.25em) {
    html {
      font-size: 56.25%;
    }
  }
  @media only screen and (max-width: 40.625em) {
    html {
      font-size: 50%;
    }
  } */